@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .palt {
    font-feature-settings: "palt";
  }

  .to-text-gradient-child > * {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .to-text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mono {
    font-family: var(--font-mono);
  }

  .text-4-5xl {
    font-size: calc((var(--text-4xl) + var(--text-5xl)) / 2)
      /* 2.625rem = 42px */;
    line-height: var(
      --tw-leading,
      calc((var(--text-4xl--line-height) + var(--text-5xl--line-height)) / 2)
        /* 1 */
    );
  }

  .button-slider {
    background-image: linear-gradient(
      270deg,
      #fff 0,
      #fff 50%,
      var(--tw-gradient-from) 0,
      var(--tw-gradient-to)
    );
    background-position: 100% 0;
    background-size: 200% auto;
    color: black;
    transition: all ease;
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .button-slider:hover {
    background-position: 0 0;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.57);
    color: #000;
  }

  .divide-effect::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 1px;
    transform: translateX(-50%);
    background-color: #fff2;
  }

  .divide-effect::after {
    content: "";
    display: block;
    position: relative;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 1px;
    transform: translateX(-50%);
    background-color: #fff2;
  }

  .gsap {
    overflow: hidden;
    display: inline-block;
  }

  .svg-animate path {
    stroke-dasharray: 20;
    fill: none;
    stroke: #fff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
  }
@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}
}

body {
  color: var(--foreground);
  font-family: var(--default-sansserif), var(--font-noto-sans-jp), Arial,
    Helvetica, sans-serif;
  overscroll-behavior: none;
}
