@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  --font-mono: var(--font-geist-mono);
}


@layer utilities {
  .palt {
    font-feature-settings: 'palt';
  }

  .to-text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mono {
    font-family: var(--font-mono);
  }

  .text-4-5xl {
    font-size: calc((var(--text-4xl) + var(--text-5xl)) / 2)
      /* 2.625rem = 42px */
    ;
    line-height: var(--tw-leading, calc((var(--text-4xl--line-height) + var(--text-5xl--line-height)) / 2)
        /* 1 */
      );
  }
}

body {
  color: var(--foreground);
  font-family: var(--default-sansserif), var(--font-noto-sans-jp), Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}